/* SearchBar.css */
.search-bar {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #FF5A5F;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #ff787b;
  }
  